@font-face {
    font-family: 'NEXT ART Regular';
    font-style: normal;
    font-weight: normal;
    src: local('NEXT ART Regular'), url("/assets/fonts/nextArt/NEXT ART_Regular.woff") format('woff');
    }
    

    @font-face {
    font-family: 'NEXT ART Thin';
    font-style: normal;
    font-weight: normal;
    src: local('NEXT ART Thin'), url("/assets/fonts/nextArt/NEXT ART_Thin.woff") format('woff');
    }
    

    @font-face {
    font-family: 'NEXT ART Light';
    font-style: normal;
    font-weight: normal;
    src: local('NEXT ART Light'), url("/assets/fonts/nextArt/NEXT ART_Light.woff") format('woff');
    }
    

    @font-face {
    font-family: 'NEXT ART SemiBold';
    font-style: normal;
    font-weight: normal;
    src: local('NEXT ART SemiBold'), url("/assets/fonts/nextArt/NEXT ART_SemiBold.woff") format('woff');
    }
    

    @font-face {
    font-family: 'NEXT ART Bold';
    font-style: normal;
    font-weight: normal;
    src: local('NEXT ART Bold'), url("/assets/fonts/nextArt/NEXT ART_Bold.woff") format('woff');
    }